#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  width: auto;
  height: auto;
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.main {
    position: absolute;
    margin: 0px;
    color: aliceblue;
}


.tabs {
  display: block;
  clear: both;
}