#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  width: auto;
  height: auto;
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.main {
    position: absolute;
    margin: 0px;
    color: aliceblue;
}

#sol_tabs {
  float: left;
  width: 30%;
}

.tabs {
  display: block;
  clear: both;
}

.info {
  float: right;
  padding-left: 5%;
  width: 65%;
}

#sol_title {
  text-align: center;
}

.pie {
  position: relative;
  margin: 50px 50px 50px 50px;
  float: right;
  overflow: hidden;
  background: wheat;
  border-radius: 100%;
  height: calc(var(--size, 500) * 1px);
  width: calc(var(--size, 500) * 1px);
}

.pie_segment {
  --degrees: calc((var(--offset) / 100) * 360);
  position: absolute;
  overflow: hidden;
  border: 1px solid #000;
  height: 100%;
  width: 100%;
  transform-origin: 50% 100%;
  transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--degrees) * 1deg));
}

.pie_segment::before {
  --degrees: calc((var(--value) / 100) * 360);
  position: absolute;
  background: var(--bg);
  content: '';
  height: 100%;
  width: 100%;
  transform-origin: 50% 0;
  transform: translate(0, 100%) rotate(calc(var(--degrees) * 1deg));
}